* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

header {
    width: 100%;
    background-color: #2c3e50;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 160px;
    height: 160px;
}

.navigation {
    margin-left: auto;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s ease;
}

.navigation ul li a:hover {
    color: #3498db; /* Change color on hover */
    text-decoration: underline; /* Add underline effect on hover */
}

.header-title {
    text-align: center;
    margin-top: 10px; 
}

.header-title h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
    color: #fff;
}

.form-section {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

label {
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: block;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #3498db;
}

.recommendations-section {
    padding: 20px;
}

/* Styling for individual recipe cards */
.recipe-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.recipe-card h3 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 10px;
}

.recipe-card p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.recipe-card strong {
    color: #2980b9;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .navigation ul {
        flex-direction: column;
        gap: 10px;
    }

    input[type="text"] {
        width: 90%;
    }

    .submit-btn {
        width: 90%;
    }
}
